.container {
  box-sizing: border-box;
  max-width: 1600px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: 32px 32px 0px 32px;
  background: linear-gradient(
      100deg,
      rgba(55, 52, 52, 0.25),
      rgba(71, 71, 71, 0) 10.42%
    ),
    #252525;
  border-radius: 12px;
}
.box-vantagens {
  padding: 32px 32px 32px 32px;
  background: linear-gradient(
      100deg,
      rgba(55, 52, 52, 0.25),
      rgba(71, 71, 71, 0) 10.42%
    ),
    #252525;
  border-radius: 12px;
}
